@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
body {
  margin: 0;
  padding: 15px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 400px;
}
h4 {
  text-align: center;
  color: #ff9a26;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ff9a26;
  border-radius: 5px;
  margin-bottom: 4px;
}

button {
  background: #ff9a26;
  color: white;
  padding: 10px 20px;
  border: 2px solid #ff9a26;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#delete-btn {
  background: white;
  color: #ff2d26;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #9430f1;
}
